@import url('../../style.css');

main{
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        label{
            margin-bottom: 5px;
            &:not(:first-of-type){
                margin-top: 15px;
            }
        }
    }  
    #botoes{
        display: flex;
        gap:2rem;
    }
    #wrapper_lista_usuarios{
        width: 100%;
        margin-top: 2rem;
        button{
            margin: 0;
        }
        #titulo{
            border: 2px var(--solid) solid;
            border-radius: 1rem 1rem 0 0;
            padding: .5rem 1rem;
            background-color: rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: space-between;
        }
        #input{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
        #dados{
            padding: .5rem 1rem;
            border: 2px var(--solid) solid;
            border-top: 0;
            border-radius: 0 0 1rem 1rem;
            background-color: rgba(0, 0, 0, 0.02);
            backdrop-filter: blur(5px);
            min-height: 6rem;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-height: 25rem;
            overflow-y: auto;
        }
        .card{
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 6rem;
            background-color: rgba(255, 255, 255, 0.85);
            backdrop-filter: blur(5px);
            border: solid 1px rgba(0, 0, 0, 0.2);
            border-radius: .5rem;
            .card-data{
                display: flex;
                flex-direction: column;
                gap:0.3rem;
            }
        }
    }
    input {
        color: var(--text);
        width: 100%;
        height: 2.2rem;
        border-radius: 0.5rem;
        padding: 0 .4rem 0;
        border: solid var(--solid) 1px;
        &:focus{
            outline: none;
            border-width: 3px;
        }
        &::placeholder{
            color: var(--text-disabled);
            opacity: 1;
        }
        &[type="date"]:invalid{
            color: var(--text-disabled);
        }
    }
    label:has(+ input[required])::after, #radio-buttons span::after{
        content: ' *';
        color: var(--solid);
    }
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: .5rem;
    border: solid var(--text-blue) 2px;
    background-color: var(--solid);
    color: var(--text-accent);
    font-weight: bold;
    font-size: 1.05rem;
    transition: all .2s ease-in-out;
    &:hover{
        background-color: var(--text-blue);
        border-color: var(--solid);
    }
    svg {
        width: 1.5rem;
        fill: var(--text-white);
    }
}


@media (prefers-color-scheme: dark){
    button {
        background-color: var(--solid-2);
        border-color: var(--bg-color-2);
        &:hover{
            background-color: var(--solid);
            border-color: var(--solid-2);
        }
    }
    main input {
        color: var(--text-black);
        &::placeholder{
            color: var(--text-disabled);
        }
        &[type="date"]:invalid{
            color: var(--text-disabled);
        }
    }
    main #wrapper_lista_usuarios{
        .card {
            background-color: transparent;
            border-color: rgba(255, 255, 255, 0.2);
        }
        #titulo{
            background-color: rgba(255, 255, 255, 0.1)
        }
        #dados{
            background-color: rgba(255, 255, 255, 0.05);
        }
    }
}